.cardholder {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: $s*1.5;
    grid-template-columns: repeat(auto-fit, minmax($s*16, 1fr));
}

.donatehome {
    width: 100%;
    height: auto;
    background-color: #71a9ad;
    color: white;
    text-align: center;
    //padding: $s;
    margin: $s 0 0 0;

    h2,
    h4 {
        color: white;
    }
}