.form {
    //   background-color: $gray-400;
    width: 100%;
    margin: $s;

    label {
        color: $white;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    input {
        width: 80%;
        height: 15px;
        border-radius: 0;
    }

    textarea {
        width: 80%;
        height: 70px;
        border-radius: 0;
    }

    button {
        border: none;
        outline: none;
        width: 100px;
        height: 40px;
        cursor: pointer;
        background-color: $gray-500;
    }
}