.header {
  padding: 0;

  //background-position: top left;
  min-height: 400px;
  //height: 400px;
  object-fit: cover;
  //background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .black {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 150px;
    // position: fixed;
    // /* Set the navbar to fixed position */
    // top: 0;
    /* Position the navbar at the top of the page */
    //width: 100%; /* Full width */

    .logo {
      color: $gray-400;
      padding: $h $h $h $h*5;
      width: 90px;
      height: auto;


      img {
        padding-top: 10px;
      }
    }

    .menu {
      width: 100%;

      &__link {
        padding: $h*2;
        display: inline-block;
        text-decoration: none;
        color: white;

      }
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &__title {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: $q*14 $q*5;
  }
}