.header {
  padding: 0;

  //background-position: top left;
  min-height: 400px;
  //height: 400px;
  object-fit: cover;
  //background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .logo {
    color: $gray-400;
    padding: $h $h $h $h*5;
    width: 200px;
    height: auto;
    //background-color: red;


    img {
      padding-top: 10px;
      width: 200px;
    }
  }

  .black {
    // background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    // display: grid;
    // grid-template-columns: 50px 1fr;
    // grid-column-gap: 150px;
    // // position: fixed;
    // /* Set the navbar to fixed position */
    // top: 0;
    /* Position the navbar at the top of the page */
    //width: 100%; /* Full width */


    .menu {
      width: 100%;
      background-color: $light-black;
      margin-top: $h;

      &__link {
        padding: $h*2;
        display: inline-block;
        text-decoration: none;
        color: white;

        //background-color: blue;
      }

      &__link:hover {
        background-color: $orange;
        color: $light-black;
      }

    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &__title {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: $q*10 $q*6;
    grid-column: 1 / -1;
  }
}

.header::after {
  width: 100%;
  height: 30px;
  background-color: red;

}