.homeimage {
    width: 100%;
    max-width: $container-max;
    min-height: 400px;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cardimage {
    width: 250px;
    height: auto;
}