{% layout 'includes/layout.html' %}

{% block content %}
  <div class="container">
    {{ content }}
    <div class="homeimage" style="background-image: url('{{ imagehome }} ') " ></div>
    <h2>Our Most recent Project</h2>
      <div class="cardholder">
        <div class="card">
          <img class="cardimage" src="{{ image1 }}"/>
          <h3>Project one</h3>
          <p>What makes a good life truly remarkable is the ability to sustain the things that give us pleasure. And for that to happen, a healthy environment in your home is essential.</p> 
          <a class="button" href="#"> read more ... </a>
        </div>
        <div class="card">
          <img class="cardimage" src="{{ image2 }}"/>
          <h3>Project two</h3>
          <p>What makes a good life truly remarkable is the ability to sustain the things that give us pleasure. And for that to happen, a healthy environment in your home is essential.</p> 
          <a class="button" href="#"> read more ... </a>
        </div>
        <div class="card">
          <img class="cardimage" src= {{ image3 }} />
          <h3>Project three</h3>
          <p>What makes a good life truly remarkable is the ability to sustain the things that give us pleasure. And for that to happen, a healthy environment in your home is essential.</p> 
          <a class="button" href="#"> read more ... </a>
        </div>
      </div>
      
  </div>
  
{% endblock %}