{% layout 'includes/layout.html' %}

{% block content %}
  <div class="container">
    {{ content }}
    <div class="homeimage" style="background-image: url('{{ imagehome }} ') " ></div>
    <h2>Our Programs</h2>
      <div class="cardholder">
        <div class="card">
          <img class="cardimage" src="{{ image1 }}"/>
          <h3>LIFE</h3>
          <p>The “Living on Landfills: Indonesians Finding Education & Enterprise” (LIFE) program serves approximately 120 children and 300 families living and working as waste pickers on one of the world’s largest landfills, Bantar Gebang.</p> 
          <a class="button" href="#"> read more ... </a>
        </div>
        <div class="card">
          <img class="cardimage" src="{{ image1 }}"/>
          <h3>ROSHAN</h3>
          <p>Roshan Learning Center is a community-driven program that fills an education gap for asylum seekers and refugees in Jakarta who are unable to attend formal school during their long wait for resettlement.</p> 
          <a class="button" href="#"> read more ... </a>
        </div>
        <div class="card">
          <img class="cardimage" src="{{ image1 }}"/>
          <h3>FAAR</h3>
          <p>The Financial Assistance to Asylum Seekers and Refugees (FAAR) program provides basic living costs for food, shelter, and medical needs for asylum seekers and refugees who have no other means of support.</p> 
          <a class="button" href="#"> read more ... </a>
        </div>
      </div>
      
  </div>
  
{% endblock %}