.wrapper {
  position: relative;
}

.container {
  position: relative;
  margin: auto;
  // background-color: black;
  width: $container-width;
  max-width: $container-max;

  &--text {
    max-width: $container-text-max;
  }
}